body {
  font-family: -apple-system, "Montserrat";
  font-weight: bold;
  background-image: url("Homepage-Model-3-Desktop-LHD.jpeg");
  background-size: 100%;
}
header {
  background-color: white;
}
navbar {
  background-color: transparent;
}
a {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
}
.center-up {
  position: absolute;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  display: inline;
}
.row{
  padding-top: 550px;
}
